@charset "utf-8";
@import "_define";
@import "_reset";




body {
    padding-bottom: j(150);
    background-color: #f1f1f4;
}

%icon {
    background: url(../images/icon.png) no-repeat;
    background-size: j(32) j(300);
}
.hidden {
    @extend %dn;
}




//error popup
.errortips {
    @extend %pf;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;/*侧轴居中对齐*/
    justify-content: center;/*主轴居中对齐*/
    width: j(300);
    height: j(120-40);
    margin: auto;
    padding: j(20);
    @extend %cfff;
    font-size: j(26);
    line-height: j(36);
    @extend %tac;
    background-color: rgba(0,0,0,.7);
    border-radius: j(20);
}


//icon
.icon-map {
    @extend %dib;
    width: j(32);
    height: j(40);
    @extend %icon;
    background-position: 0 0;
}
.icon-right {
    @extend %db;
    width: j(32);
    height: j(32);
    @extend %icon;
    background-position: 0 j(-82);
}




//1-index.html
.detail-main {
}


//商品图
    .detail-pic-wrap {
        display: flex;
        align-items: center;/*侧轴居中对齐*/
        justify-content: center;/*主轴居中对齐*/
        height: j(544);
        background-color: #fbfaf8;
        img {
            max-height: j(544);
        }
    }




//商品基础信息
    .detail-base-wrap {
        // min-height: j(150);
        padding: j(20) j(30);
        @extend %bgw;
    }
    .db-tit,
    .di-tit {
        font-size: j(32);
        @extend %fwn;
        line-height: 2;
    }
    .db-cont {
        display: flex;
        align-items: center;/*侧轴居中对齐*/
        justify-content: center;/*主轴居中对齐*/
        em {
            color: #ff9a10;
            font-size: j(32);
        }
        i {
            font-size: j(22);
        }
        ins {
            margin-left: j(10);
            @extend %c9;
            font-size: j(22);
            text-decoration: line-through;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            @extend %c9;
        }
    }




//商品详情
    .detail-info-wrap {
        margin-top: j(20);
        padding: j(30);
        @extend %bgw;
    }
    .di-cont {
        font-size: j(28);
        line-height: j(42);
        p {
            margin-top: j(10);
        }
        img {
            max-width: j(580);
        }
    }




//商品兑换
    .detail-btn-wrap {
        @extend %pf;
        right: 0;
        bottom: 0;
        left: 0;
        padding: j(20);
        box-shadow: 0 -1px 0 #e6e6e6;
        @extend %bgw;
    }
    .db-ljdh,
    .db-tjdd {
        @extend %db;
        width: j(540);
        // height: j(88);
        @extend %ma;
        @extend %cfff;
        font-size: j(30);
        line-height: j(88);
        @extend %tac;
        border-radius: j(44);
        background-color: #ffa810;
    }




//2-orderlist.html
.order-main {
}

.order-nav {
    display: flex;
    align-items:center;
    padding-top: j(8) 0;
    @extend %bgw;
    span {
        flex: 1;
        // width: j(72);
        margin: 0 j(48);
        font-size: j(28);
        line-height: j(68);
        @extend %tac;
        &.cur {
            border-bottom: j(6) solid #ffa810;
        }
    }
}

.order-list {
    li {
        margin-top: j(20);
        @extend %bgw;
    }
}

.ol-cont,
.ol-info,
.ot-info {
    display: flex;
    font-size: j(24);
}


.ol-cont {
    padding: j(30) j(20);
    align-items:center;
}
.ol-pic {
    margin-right: j(20);
    img {
        width: j(130);
        height: j(130);
    }
}
.ol-desc {
    h3 {
        @extend %c3;
        font-size: j(28);
        @extend %fwn;
        line-height: j(44);
    }
    p {
        @extend %c9;
        line-height: j(42);
    }
}
.ol-num {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    @extend %c9;
    font-size: j(28);
}


.ol-info {
    padding: j(20);
    line-height: j(50);
    border-top: 1px solid #e6e6e6;
}
.ol-time {
    @extend %c6;
}
.ol-state,
.ol-money {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.ol-state0 {
    @extend %c9;
}
.ol-state1 {
    color: #ffa810;
}
//2a-orderlist-sw.html
.order-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: j(160);
    @extend %cfff;
    font-size: j(36);
    background: url(../images/bgstate.jpg) no-repeat center top / 100% 100%;
}
.order-address {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: j(30) j(50) j(30) j(20);
    @extend %bgw;
    span {
        font-size: j(28);
        line-height: j(40);
    }
    i {
        margin-right: j(14);
        @extend %vat;
    }
    p {
        align-self: center;
        padding: j(20) j(10) j(10) j(42);
        @extend %c6;
        font-size: j(24);
        line-height: j(36);
    }
}
.order-content {
    margin-top: j(20);
    @extend %bgw;
    h2 {
        padding-top: j(30);
        padding-left: j(20);
        font-size: j(28);
        // line-height: j(40);
    }
}
.ol-unit {
    font-size: j(28);
}
.ol-money {
    color: #ffa810;
    font-size: j(28);
}

.order-details {
    display: flex;
    // align-items: center;/*侧轴居中对齐*/
    align-items: flex-end;
    // justify-content: center;/*主轴居中对齐*/
    margin-top: j(20);
    padding: j(20);
    @extend %bgw;
    dd {
        @extend %c9;
        line-height: j(36);
    }
}
.od-copy {
    display: flex;
    justify-content:center;
    // @extend %db;
    width: j(110);
    line-height: j(42);
    margin-left: auto;
    // padding: 0 j(30);
    @extend %c6;
    // @extend %tac;
    border: 1px solid #bbb;
    border-radius: j(22);
}
//2a-orderlist-xn.html
.order-card {
    height: j(456);
    margin-top: j(20);
    background: url(../images/bgcard.jpg) no-repeat center top / 100% 100%;
}
.order-code {
    height: j(200);
    padding-top: j(20);
    @extend %tac;
    p {
        font-size: j(24);
        line-height: j(96);
    }
    input {
        width: 80%;
        color: #ff9a10;
        font-size: j(48);
        @extend %tac;
        border: 0 none;
        background-color: transparent;
    }
}
.order-codeinfo {
    padding: j(30) j(40) 0 j(50);
    @extend %c9;
    font-size: j(24);
    line-height: j(42);
    dd {
        display: flex;
    }
    span {
        // flex: 1;
        // width: j(122);
    }
    em {
        flex: 1;
    }
}

//order-sw.html
.order-addwrap {
    @extend %bgw;
}
.oa-add {
    display: flex;
    align-items: center;/*侧轴居中对齐*/
    justify-content: center;/*主轴居中对齐*/
    color: #ffa810;
    font-size: j(28);
    line-height: j(140);
}
.oa-addwrap {
    display: flex;
    padding: j(20);
    .order-address {
        // margin-right: j(40);
        padding: 0;
        p {
            padding-right: 0;
            padding-left: 0;
        }
    }
    i {
        margin-left: j(40);
    }
    // &:after {
    //     // display: flex;
    //     @extend %db;
    //     width: j(32);
    //     height: j(32);
    //     margin-top: j(16);
    //     @extend %content;
    //     @extend %icon;
    //     // background-position: 0 j(-82);
    // }
}
.order-total {
    margin-top: j(20);
    padding: j(20);
    @extend %bgw;
    h2 {
        font-size: j(28);
        @extend %fwn;
    }
}
.ot-info {
    padding-top: j(20);
    line-height: j(50);
}
.order-message {
    margin-top: j(20);
    padding: j(20) 0;
    @extend %bgw;
    h2 {
        padding-left: j(20);
        font-size: j(28);
        @extend %fwn;
    }
}
.om-textwrap {
    margin-top: j(20);
    padding: j(10) j(20);
    background-color: #fafafa;
    textarea {
        width: 100%;
        height: j(120);
        font-size: j(24);
        line-height: j(36);
        border: 0 none;
        background-color: transparent;
    }
}
.omt {
    @extend %c6;
    &.omt0 {
        @extend %cc;
    }
}