@charset "utf-8";
@import "_define";
@import "_reset";




body {
    padding-bottom: j(150);
    background-color: #fff;
}

.hidden {
    @extend %dn;
}

.program-main {
	padding-top: j(128);
	background: url(../images/bggame.jpg) no-repeat center top / 100% auto;
}

.game-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: j(128);
		height: j(128);
	}
}
.game-article {
	padding: j(40);
	p {
		margin-top: j(20);
		font-size: j(28);
		line-height: j(44);
	}
	img {
		max-width: 100%;
	}
}


//开始游戏
    .game-link-wrap {
        @extend %pf;
        right: 0;
        bottom: 0;
        left: 0;
        padding: j(20) j(40);
        box-shadow: 0 -1px 0 #e6e6e6;
        @extend %bgw;
    }
    .gb-star {
        @extend %db;
        // width: j(540);
        // height: j(88);
        // @extend %ma;
        @extend %cfff;
        font-size: j(30);
        line-height: j(88);
        @extend %tac;
        border-radius: j(44);
        background-color: #22baff;
    }