@charset "utf-8";
@import "define";
@import "reset";

//1rem = 10px
$browser-default-font-size:640;//设计图640px
@function w($px){
    @return 10rem / $browser-default-font-size * $px;
}



%icon {
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-size: w(640) w(640);
}
%trans{
	-webkit-transition: all .2s linear;
			transition: all .2s linear;
}

body {
	font-size: 16px;
	line-height: 2;
}


h2{margin: 20px 0;}

img{width: 600px;}

.svg {
	width: 201px;
	height: 40px;
	background: url(../images/icon.svg) 0 0 no-repeat;
}



.qd {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 9.7px 0.3px rgba(0, 0, 0, 0.004);
  position: absolute;
  left: 317px;
  top: 521px;
  width: 328px;
  height: 328px;
  z-index: 248;
}
