@charset "utf-8";

html,body,header,main,nav,footer,article,section,div,p,h1,h2,h3,h4,h5,ul,ol,li,dl,dt,dd,input{margin:0;padding:0;}
html{-webkit-font-smoothing:antialiased}
html,body{-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
ul,ol{list-style:none}
a{text-decoration:none;}
img{vertical-align:top;border:0 none;}
em,i{font-style:normal;}
input{outline:none}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;}//解决在chrome中自动完成表单后input出现黄色背景
button,input,textarea[type="button"],input[type="button"],input[type="reset"],input[type="submit"],select{-webkit-appearance: none;}


html {
    font-size:64px; /* 10/16=62.5%  20/16=125% */
}